{% extends 'index.html' %} {% block content %}
<h1>Secret Page</h1>
<p>
  You made it! If you wish, you can leave <a href="/feedback">feedback</a>,
  <a href="/edit-user">edit</a> your profile, or <a href="/logout">logout</a>
</p>
<h2>User Feedback</h2>
<ul>
  {% for feed in feedback %}
  <li>
    <span>
      {{feed.message}}<b> by {{feed.user.username}}</b>
      {% if session['user_id'] == feed.user_id %}
      <form action="/feedback/{{feed.id}}/delete" method="post">
        <button class="delete">X</button>
      </form>
      {% endif %}
    </span>
  </li>
  {% endfor %}
</ul>
{% endblock %}
